<section>
    <div class="pg-text">
        <i class='bxr  bx-bug'></i>
        <h2>oops! page not found!</h2>
    </div>
    <button class="btn btn-404"><a href="/">return home</a></button>
</section>