<article>
    <section class="hero-section">
        <h2>Circuit Chronicles - Stories from the Heart of Innovation</h2>
        <div class="hero-section-gfx"></div>

        <div class="hero-section-txt">
            <h3><i class='bxr  bx-pencil-sparkles'  ></i> Mwiza Writes</h3>
        </div>
    </section>
    <section class="blog-container">
        <h2>Read <i class='bxr  bx-reading-glass'  ></i>  </h2>
        <div class="blog-grid">
            <div class="blog-item">
                <div class="blog-item-image">
                    <img src="https://i.pinimg.com/736x/1b/8b/2d/1b8b2d13e3e3298e4d10970c0ebf2d56.jpg" alt="Blog Image">
                </div>
                <div class="blog-item-txt">
                    <h3><a href ="#">Blog Title</a></h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis veritatis ipsam aperiam, explicabo, repellendus esse quasi qui, cumque maiores optio facilis tempora obcaecati repellat reiciendis perspiciatis amet odio voluptate consequuntur!</p>
                </div>
            </div>
            <div class="blog-item">
                <div class="blog-item-image">
                    <img src="https://i.pinimg.com/736x/1b/8b/2d/1b8b2d13e3e3298e4d10970c0ebf2d56.jpg" alt="Blog Image">
                </div>
                <div class="blog-item-txt">
                    <h3><a href ="#">Blog Title</a></h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis veritatis ipsam aperiam, explicabo, repellendus esse quasi qui, cumque maiores optio facilis tempora obcaecati repellat reiciendis perspiciatis amet odio voluptate consequuntur!</p>
                </div>
            </div>
            <div class="blog-item">
                <div class="blog-item-image">
                    <img src="https://i.pinimg.com/736x/1b/8b/2d/1b8b2d13e3e3298e4d10970c0ebf2d56.jpg" alt="Blog Image">
                </div>
                <div class="blog-item-txt">
                    <h3><a href ="#">Blog Title</a></h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis veritatis ipsam aperiam, explicabo, repellendus esse quasi qui, cumque maiores optio facilis tempora obcaecati repellat reiciendis perspiciatis amet odio voluptate consequuntur!</p>
                </div>
            </div>
        </div>
    </section>

</article>
