<article>
    <h3>Login to Account</h3>
    <section class="login-container">
        <form action="/login" method="post">
            <div class="form-group">
                <label for="username">Username or Email</label>
                <input type="text" name="username" id="username" class="form-input" placeholder="Enter username or email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-input" placeholder="Enter password" required>
            </div>
            <button type="submit" class="login-btn"><i class='bxr  bx-key'  ></i> Log In</button>
        </form>
    </section>
</article>